.share-page-body {
    min-height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:hsla(12,100%,93%,1);
    background-image:
    radial-gradient(at 36% 93%, hsla(336,100%,21%,0.21) 0px, transparent 50%),
    radial-gradient(at 16% 18%, hsla(9,49%,89%,1) 0px, transparent 50%),
    radial-gradient(at 79% 32%, hsla(76,0%,100%,1) 0px, transparent 50%),
    radial-gradient(at 98% 8%, hsla(0,77%,48%,0.47) 0px, transparent 50%),
    radial-gradient(at 26% 85%, hsla(9,48%,89%,1) 0px, transparent 50%);
}

.share-page-logo {
    margin: 6vw 0px;
}

.share-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.share-buttons-container {
    display: flex;
    gap: 30px;
}

.share-buttons-continue {
    border: 0;
    padding: 8px 24px;
    border-radius: 12px;
    font-size: 1vw;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #651C32;
    transition: all 0.25s ease-out;
}

.share-buttons-back {
    border: 0;
    border: 1px solid #651C32;
    padding: 8px 24px;
    border-radius: 12px;
    font-size: 1vw;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
    color: #651C32;
    background-color: #FFFFFF;
    transition: all 0.25s ease-out;
}
