.welcome-page {
    background-color:hsla(12,100%,93%,1);
    background-image:
    radial-gradient(at 36% 93%, hsla(336, 76%, 61%, 0.21) 0px, transparent 50%),
    radial-gradient(at 16% 18%, hsla(9,49%,89%,1) 0px, transparent 50%),
    radial-gradient(at 79% 32%, hsla(76,0%,100%,1) 0px, transparent 50%),
    radial-gradient(at 98% 8%, hsla(0,77%,48%,0.47) 0px, transparent 50%),
    radial-gradient(at 26% 85%, hsla(9,48%,89%,1) 0px, transparent 50%);
}

.welcome-page-body {
    min-height: calc(100vh - 16px - 1.2vw - 1.42vw);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toby {
    position: absolute;
    left: 12%;
    width: 70px;
    bottom: 14%;
}

.welcome-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 30px 30px 0px 0px rgba(101,28,50,1);
    border: 5px solid rgba(101,28,50,1);
    background-color: #F8E2DE;
    padding: 3vw 6vw;
    border-radius: 20px;
    position: relative;
}

.welcome-page-title {
    font-size: 3.45vw;
    font-weight: 700;
    color: #651C32;
}

.welcome-page-subtitle {
    font-size: 1.6vw;
    margin-bottom: 84px;
}

.welcome-page-button {
    border: 0;
    padding: 12px 32px;
    border-radius: 12px;
    font-size: 1.5vw;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #651C32;
    transition: all 0.25s ease-out;
}

.welcome-page-button:hover {
    transform: scale(1.1);
    filter: brightness(1.5)
}

.language-container {
    position: absolute;
    right: 50px;
    top: 24px;
    border: 3px solid #651C32;
    border-radius: 10px;
    padding: 6px 20px;
    cursor: pointer;
    transition: .25s;
}

.language-container:hover {
    transform: scale(1.02);
    filter: brightness(1.6);
}

@media (max-width: 600px) {
    .welcome-page-body {
        min-height: calc(88vh);
        padding-top: 50px
    }

    .welcome-page-title {
        font-size: 7.2vw;
        font-weight: 700;
    }
    
    .welcome-page-subtitle {
        font-size: 3.75vw;
        margin-bottom: 100px;
    }    

    .welcome-page-button {
        padding: 10px 30px;
        font-size: 5vw;
    }

    .welcome-page-content {
        box-shadow: 8px 8px 0px 0px rgba(101,28,50,1);
        padding: 32px 24px;
        border-radius: 16px;
        position: relative;
    }
    
    .toby {
        position: absolute;
        left: calc(50% - 20px);
        width: 40px;
        bottom: 36%;
    }

    .language-container {
        right: 20px;
        top: 12px;
        border-radius: 10px;
        padding: 5px 15px;
    }

    .language-container p {
        font-size: 14px;
    }
}