.welcome-page {
    background-color:hsla(12,100%,93%,1);
    background-image:
    radial-gradient(at 36% 93%, hsla(336,100%,21%,0.21) 0px, transparent 50%),
    radial-gradient(at 16% 18%, hsla(9,49%,89%,1) 0px, transparent 50%),
    radial-gradient(at 79% 32%, hsla(76,0%,100%,1) 0px, transparent 50%),
    radial-gradient(at 98% 8%, hsla(0,77%,48%,0.47) 0px, transparent 50%),
    radial-gradient(at 26% 85%, hsla(9,48%,89%,1) 0px, transparent 50%);
}

.welcome-page-body {
    min-height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toby {
    position: absolute;
    left: 12%;
    width: 72px;
    bottom: 12%;
}

.welcome-page-logo {
    margin: 6vw 0px;
}

.welcome-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:30px 30px 0px 0px rgba(101,28,50,1);
    border: 5px solid rgba(101,28,50,1);
    background-color: #F8E2DE;
    padding: 60px 100px;
    border-radius: 20px;
    position: relative;
}

.welcome-page-title {
    font-size: 3.6vw;
    font-weight: 700;
    color: #651C32;
}

.welcome-page-subtitle {
    font-size: 1.6vw;
    margin-bottom: 100px;
}

.welcome-page-button {
    border: 0;
    padding: 12px 32px;
    border-radius: 12px;
    font-size: 1.5vw;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #651C32;
    transition: all 0.25s ease-out;
}

.welcome-page-button:hover {
    transform: scale(1.1);
    filter: brightness(1.5)
}

@media (max-width: 600px) {
    .welcome-page-title {
        font-size: 6.4vw;
        font-weight: 700;
    }
    
    .welcome-page-subtitle {
        font-size: 3.8vw;
        margin-bottom: 100px;
    }    

    .welcome-page-button {
        padding: 10px 30px;
        font-size: 4vw;
    }

    .welcome-page-content {
        box-shadow: 8px 8px 0px 0px rgba(101,28,50,1);
        padding: 32px 18px;
        border-radius: 16px;
        position: relative;
    }
    
    .toby {
        position: absolute;
        left: calc(50% - 20px);
        width: 40px;
        bottom: 36%;
    }
    
}