.footer-container {
    width: 100vw;
    padding: 10px 100px;
    bottom: 0;
    background-color: #DA291C;
    height: 64px;
}

.footer-up {
    display: flex;
    justify-content: space-between;
}

.footer-links-container {
    display: flex;
    gap: 20px;
}

.footer-links-container p {
    color: #FFFFFF;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.85vw;
}

.footer-social-container {
    display: flex;
    gap: 20px;
}

.footer-social-container img {
    width: 1.2vw;
    height: 1.2vw;
    cursor: pointer;
}

.footer-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-bottom p {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 0.65vw;
    margin-top: 0.1vw;
}

@media (max-width: 600px) {
    .footer-container {
        width: 100vw; 
        height: fit-content;   
        flex-direction: column;
    }

    .footer-up {
        flex-direction: column-reverse;
    }

    .footer-links-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }
    
    .footer-links-container p {
        font-size: 3vw
    }

    .footer-bottom p {
        font-size: 2vw;
        margin-top: 12px;
    }

    .footer-social-container {
        display: flex;
        gap: 20px;
        justify-content: center;
        margin: 4px 0px 20px 0px;
    }
    
    .footer-social-container img {
        width: 4.2vw;
        height: 4.2vw;
    }
}